.metadata/
config-client-test/
*.project
kafka_dream/
gateway-service/src/main/resources/application.yml.rej
manage-service/.settings/org.springframework.ide.eclipse.boot.prefs
manage-service/src/main/java/com/dream/manage/config/DBConfiguration.java
